version: 1
name: {{name}}
description: Oracle purchase requisition use case
recipe: oracle-pr
default_assistant: {{name}}-assistant
kit_version: "{{kit_version}}"
initialized_at: "{{initialized_at}}"
